<br />
<%= link_to 'Dodaj kod', new_gist_path, :class => "btn btn-success btn-lg btn-block" %>

<h1>Lista dodanych kodów</h1>

<table id="gists">
  <thead>
    <tr>
      <th>Kod</th>
      <th>Język</th>
      <th>Opis</th>
      <th colspan="3">Opcje</th>
    </tr>
  </thead>

  <tbody id="my-gists">
	<%= render @gists %>
  </tbody>
</table>

<div id="infinite-scrolling">
  <center><%= will_paginate %></center>
</div>



